footer {
    padding: 25px 440px;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
}
footer h6 {
    font-size: var(--fs-link);
    font-weight: 700;
    color: var(--sec-font-color);
}
footer .icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
footer .icon i {
    font-size: 24px;
    color: var(--primare-color);
}