.page3 {
    background-color: var(--third-color);
    padding-inline: 145px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 160px 197.5px;
}
.page3 .main-top, .page4 .main-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.page3 .main-top a, .page4 .main-top a {
    font-size: var(--fs-link);
    font-weight: 700;
    color: var(--primare-color);
}
.page3 .main-top h2, .page4 .main-top h2 {
    font-size: var(--fs-h2);
    font-weight: 700;
    color: var(--font-color);
}
.page3 .main-top p, .page4 .main-top p {
    font-size: var(--fs-link);
    font-weight: 400;
    color: var(--sec-font-color);
    width: 463px;
}



.page3 .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.bottom .cird {
    height: 622px;
    width: 348PX;
    background-color: white;
}

.bottom .cird .top {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 24px 20px;
}

.bottom .cird-1 .top {
    background-image: url(product-cover-124\ sec-.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.bottom .cird-2 .top {
    background-image: url(product-cover-125\ sec-.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.bottom .cird-3 .top {
    background-image: url(product-cover-126\ sec-.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
}




.bottom .cird .top h6 {
    font-size: var(--fs-link);
    font-weight: 700;
    line-height: 24px;
    color: white;
    background-color: var(--sec-color);
    padding-inline: 10px;
    height: 24px;
    width: 40px;
    text-align: center;
    border-radius: 3px;
}

.bottom .cird .top .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottom .cird .top .icon .logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom .cird .top .icon .logo i {
    font-size: 20px;
}

.bottom .cird .bottom {
    height: 322px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px 25px 35px 25px;
    gap: 10px;
}

.bottom .cird .bottom .hading {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom .cird .bottom .hading a {
    font-size: var(--fs-link);
    font-weight: 700;
    color: var(--primare-color);
}

.bottom .cird .bottom .hading .btn-1 {
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    color: white;
    border-radius: 20px;
    background-color: #2D4059;
    display: flex;
    gap: 5px;
    align-items: center;
}

.bottom .cird .bottom .hading .btn-1 i {
    color: yellow;
}

.cird .bottom h5 {
    font-size: var(--fs-h5);
    color: var(--font-color);
    font-weight: 700;
}

.cird .bottom p {
    font-size: var(--fs-link);
    color: var(--sec-font-color);
    font-weight: 400;
    line-height: 20px;
    padding-right: 20px;
}

.cird .bottom .sale {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.cird .bottom .sale h6 {
    font-size: var(--fs-link);
    color: var(--sec-font-color);
    font-weight: 700;
}

.cird .bottom .sale i {
    color: var(--sec-font-color);
}

.cird .bottom .rate {
    display: flex;
    gap: 5px;
}

.cird .bottom .rate-1 {
    font-size: var(--fs-h5);
    color: #BDBDBD;
    font-weight: 700;
}

.cird .bottom .rate-2 {
    font-size: var(--fs-h5);
    font-weight: 700;
    color: #FFAB71;
}

.cird .bottom .btn-2 {
    font-size: var(--fs-link);
    color: var(--primare-color);
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    gap: 10PX;
    padding: 10px 20px;
    background-color: transparent;
    border: 1.5px solid var(--primare-color);
    border-radius: 37px;

}

.cird .bottom .btn-2 i {
    font-size: 16px;
}