.page-2 {
    padding: 0px 145px;
}
.page-2 .ranking {
    padding: 80px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-2 .ranking .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-2 .ranking .box h1 {
    font-size: var(--fs-h1);
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: var(--primare-color);
}
.page-2 .ranking .box h5 {
    font-size: var(--fs-h5);
    color: var(--font-color);
    font-weight: 700;
    line-height: 24px;
}
main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin-top: 160px;
}
main .left {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
main .left .line {
    height: 7px;
    width: 94px;
    background-color: var(--sec-color);
}
main .left h2 {
    font-size: var(--fs-h2);
    font-weight: 700;
    line-height: 50px;
    color: var(--font-color);
}
main .left p {
    font-size: var(--fs-link);
    color: var(--sec-font-color);
    line-height: 20px;
}
main .left a {
    font-size: var(--fs-link);
    color: var(--primare-color);
    font-weight: 700;
    line-height: 24px;
}

